
<section class ="galleryContainer">
    <div class = "left" aria-label="Previous">
      <span > &#9664;</span>
    </div>

   
    <div class="imageSlide">
        <img src="../../Public/assets/images/beachimage.jpeg" alt="Family walking on a beach">
        <div class="SlideText">
        <h2>Last minute holidays</h2>
      </div>
    </div>

    <div class="imageSlide">
      <img src="../../Public/assets/images/familyHoliday.jpeg"  alt="couple on a beach">
      <div class="SlideText">
      <h2>Family holidays you can trust</h2>
    </div>
  </div>
  <div class = "right" aria-label="Next">
    <span   > &#9654; </span>
  </div>
  </section>

