<div id="ModelBox" class="ModelBox hidden">
 
    <div class="ModelBox-content">
      <span id="closeModalBtn" class="close-modal">&times;</span>
  
      <div class="modalDetails"></div>
    
    </div>
  </div>