.flights-search-container{
    position: relative;
     
      width: 100%;
     
      justify-self: center;
 
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem;
      overflow-y: auto;
      transition: left 0.3s ease-in-out;
}